.settings-setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-setting i {
  margin-right: 30px;
  font-size: 20px;
}

.settings-setting-columm--1 {
  opacity: 0.3;
}

.setting-screen {
  height: 130vh;
}

.alt-header,
.setting-screen .status-bar {
  background-color: white;
}

.setting-screen .main-setting {
  margin-top: 100px;
}

.alt-header {
  z-index: 1;
}
.setting-screen .status-bar {
  z-index: 2;
}
